.movie {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  background-color: rgb(110, 0, 0);
  color: #fff;
}

.poster-box {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.movie-poster {
  height: 100%;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.movie-title {
  text-decoration: underline;
}

.movie-year {
  font-size: 1.4rem;
}
